
<form action="/data/search/prdID/result" method="GET">
  <label for="productId">Enter ASIN or ProductID</label>
  <input type="text" id="productId" name="productId">
  <button type="submit">Search</button>
</form>
